/* Makeshift CSS Reset */  
{   margin: 0;  
    padding: 0;  
}  
  
/* Tell the browser to render HTML 5 elements as block */  
header, footer, aside, nav, article {  
    display: block;  
}

figure{
	margin: 0 auto;
	padding: 0;	
}

body {  
    margin: 0 auto;  
    margin-top:10px;
    margin-bottom:10px;
    width: 940px; 
    min-height:900px;
    position:relative; 
    font: 13px/22px Helvetica, Arial, sans-serif;
    border: 1px gray solid;
    box-shadow:0 0 5px 5px #888;
}

h2 {  
    font-size: 28px;  
    line-height: 44px;  
    padding: 11px 0;  
}  
  
h3 {  
    font-size: 18px;  
    line-height: 22px;  
    padding: 5px 0;  
}  
  
p {  
    padding-bottom: 22px;  
}  

img.logo {
	width: 940px;
	height: 140px;
}

/*Navigation*/

/**
* Main menu
*/
nav.mainMenu { 
	position: absolute;  
    left: 360px;
    top:80px;  
}  

nav.mainMenu ul {  
    margin: 0 auto;  
    list-style: none;  
} 
   
nav.mainMenu ul li {  
    float: left;
    margin-left: 10px;  
}

nav.mainMenu ul li a {  
    display: block;  
    width: 105px;  
    font-size: 18px;  
    line-height: 44px;  
    text-align: center;  
    text-decoration: none;  
    color: #777;  
}

nav.mainMenu ul li a:hover {  
     color: black;  
}

/**
*	User menu
*/

nav.userMenu {
	position: absolute;
	top:0px;
	right:20px;
}

nav.userMenu ul {  
    list-style: none;  
}

nav.userMenu ul li a {  
    display: block;  
    font-size: 12px;  
    text-decoration: none;  
    color: navy;  
}

/**
* Section
*/
section{
	margin:20px;
	min-height: 631px;
}

/**
*	Footer
*/

footer{
	clear: both;
	text-align: center;
	background-color: #331B7B;
}

footer nav{
	width: 312px;
	height:100px;
	text-align: left;
	float: left;
	border-left: 1px solid gray;
	background-color: #331B7B;
}

footer nav ul{
	margin: 0 auto;  
	list-style: none;
	margin-top: 10px;
}

footer nav ul li a {  
    display: block;  
    font-size: 18px;  
    text-decoration: none;
    color: gray;  
}

footer nav ul li a:hover {  
     color: orange;  
}

footer.copyright{
	margin-top: 10px;
	background-color: #6A4FBC;
	color: white;
}

/**
* Login
**/

section article.register{
	float:left;
	margin-left: 10px;
}

section article.login{
	float:left;
	margin-left: 10px;
}
/**
* Under construction.
*/

figure.underConstruction img{
	margin-left: 200px;
	margin-top: 100px;
	margin-bottom: 100px;
}


/**
* form

**/

form{
	margin:20px;
}